footer{
    background-color: #171717;
}
.footer__title{
    font-size: 16px;
    line-height: 22px;  
    display: flex;
    align-items: center;
    text-align: center;   
    color: #FFFFFF;
    padding-top: 40px;
    margin-left: 135px;
}
.footer__text{
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF8562;
    margin-top: 10px;
    margin-left: 400px;
    padding-bottom: 40px;
}