.team{
    background-color: #E5E5E5;
}
.team__body{
    display: flex;
}
.team__title{
    font-size: 46px;
    line-height: 56px;   
    color: #000000;
    margin-top: 100px;
}
.team__name{
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}
.team__description{
    font-size: 16px;
    line-height: 22px;   
    color: $button-color;
    margin-bottom: 20px;
}
.team__text{
    font-size: 16px;
    line-height: 22px;  
    color: #3b3131;
}
.team__span{
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.team__list{
    @include important-text;
    margin-top: 30px;
}